@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.Weather-Cards {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  grid-column-gap: 2rem;

  @include m.respond(mobile) {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .Cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
    width: 18.2rem;
    transition: all 0.5s ease;
    box-shadow: rgba(v.$color-black, 1) 0 0.6rem 1.6rem;

    @include m.respond(mobile) {
      margin-bottom: 2rem;
      padding: 3.2rem 2rem;
      height: 24rem;
      width: 100%;
      align-items: center;
      border-radius: 0.8rem;
      background-color: v.$background-black;
    }

    &:hover {
      transform: scale(1.05);
    }

    .weekday {
      margin-bottom: 2rem;
    }

    figure {
      height: 10rem;
      width: 12rem;
    }
  }

  &:hover .Cards:not(:hover) {
    transform: scale(0.92);
  }
}
