$font-primary: "Roboto", sans-serif;

$color-black: #000;
$color-white: #fff;
$color-gray: #e5e5e5;

// $background-black: #1e231f;
$background-black: #131417;

// social Media icon $color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;
$color-phone: #3ddc84;
$color-location: #c93543;
$color-envelpoe: #ffa500;
